@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900");

$anim-text-offset: 1em;

body {
  font-family: "Work Sans", sans-serif;
  text-align: center;
}
.input-container {

}

.btn-form {
  margin: 0 5px;
}
