#footerwrap {
  width: 100%;
  float: left;
  margin: 0 auto;
  clear: both;
}

#footer {
  height: 40px;
  background: #360033; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0b8793,
    #360033
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0b8793,
    #360033
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
}

.footerP{
    margin-left: 5px;
}